.nav{
    display: flex;
    justify-content: center;
    background: linear-gradient(89.53deg, #1A66F2 0.22%, #0040B6 111.9%);
    padding: 10px 0 10px 0;
    color:aliceblue ;
    text-align: center;
    margin-bottom: 30px;
   
}

.container{
    padding: 0 35px 0 20px;
    width: 1250px;    
    display: flex;
    justify-content: space-between;
}